/Command.class
/CommandGet.class
/CommandGo.class
/CommandHelp.class
/CommandTake.class
/CommandDrop.class
/CommandUse.class
/CommandExamine.class
/CommandOpen.class
/CommandClose.class
/CommandRestart.class
/CommandQuit.class
/CommandInventory.class
/CommandLook.class
/CommandWait.class
/CommandHint.class
